body {
                    width: 100%;
                    margin:30;
                    height: 100%;
                    font-family: 'poppins', sans-serif
             }
             
 #top-area {
                    height: 700px;
                    background-image: url(./header-bg.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
             }
             
             
.half-width {
                    width:40%;
                    float: left;
             }
             
 .right img {
                    width:80%;
                    margin-top: 5%;
             
             
             }
             
 #top-area .left {
                    margin-top: 5%;
                    margin-left: 15%;
             }
             
h2 {
                    font-size: 40px;
             }
             
h2 span {
                    color: #ff8063;
             }
             
button {
                    padding: 10px 30px;
                    color: #fff;
                    text-transform: uppercase;
                    background-color: #ff8063;
                    border: none;
             }
             
button a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 18px;
             }
             
.left p {
                    font-size: 18px;
                    color: dimgray;
             }
#middle-area {
             
                    height: 600px;
                    background-color: rgb(250, 246, 246);
             }
             
.left img {
                    width: 60%;
                    margin-top: 0%;
             
             
             }
             
#middle-area .left {
                    margin-top: 5%;
                    margin-left: 10%;
             }
             
#middle-area .right {
                    font-size: 19px;
                    margin-top: 12%;
                    margin-left: 0%;
             }
#bottom-area {
                    width: 100%;
                    height: 438px;
                    background-color: rgb(242, 239, 239);
                    padding: 50px 0;
             
             }
             
             
.single-image {
                    width: 30%;
                    float: left;
                    margin-top: 50px;
                    margin-left: 10PX;
                    border: 10px solid #fff;
                    border-radius: 15px;
                    padding: 10px;
                    box-shadow: 5px 5px 10px lightgray;
                    height: 400px;
             }
             
#bottom-area h4 {
                    margin-top: 20px;
                    text-align: center;
                    font-size: 25px;
             
             }
             
#bottom-area span {
                    margin-top: 0px;
                    text-align: center;
                    font-size: 25px;
                    color: #ff8063;
             
             }
             
#last-field{
                    margin-top: 300px;
                    margin-bottom: 100px;
             }
.inquery {
                         background-image:url(./IMAGES/inquery-bg\ \(1\).png);
                       background-position: center center;
                       background-repeat: no-repeat;
                       background-size: cover;
                       width: 85%;
                       height: 150px;
                       margin: 0 auto;
                       border-radius: 20px;
             }
.middle-portion{
                    width: 60%;
                    float: left;
                    margin: 25px;
                    margin-left: 100px;
                   
             }
.left-side{
                    /* width: 50%; */
                    float: left;
                    margin-top: 70px;
                    margin-left: 100px;
             }
             
             .lets-chat{
                    background: linear-gradient(60deg, tomato, #FF1499);;
             }
             
             
             
             #last-field .left {
                    margin-top: 15%;
                    margin-left: 17%;
             }
             
             .middle-portion h5 {
                    font-size: 30px;
                    color: #fff;
             }
             #ending {
                    width: 100%;
                    height: 200px;
                    background-color: rgb(242, 239, 239);
                    padding: 50px 0;
                    text-align: center;
                    font-size: 25px;
             
             }
             
             .end p {
                    margin-top: 0px;
                    text-align: center;
                    font-size: 14px;
             }
             #closing-area {
                    width: 100%;
                    height: 300px;
                    text-align: center;
             
             }
             .stay h6{
                    font-size: 20px;
             }
             
             .closing1 {
                    font-size: 25px;
             }
             
             #closing-area .images {
                    width: 100%;
                    height: 10%;
                    float: left;
                   
             }
             #closing-area img{
                    width: 50px;
                    height: 50px;
             }
             #nebulas{
                    width: 100%;
                    height: 33px;
                  text-align: center;
                  background-color: rgb(228, 224, 224);
             }